body {
  margin: 0;

  .body {
    margin-top: 70px;
    min-height: calc(100vh - 80px);
    height: calc(100vh - 80px);
    overflow: auto;
  }

  .right {
    float: right;
  }

  .left {
    float: left;
  }
}
