body {
  margin: 0;

  .body {
    padding-top: 70px;
    min-height: calc(100vh - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right {
    float: right;
  }

  .left {
    float: left;
  }
}
