body {
  margin: 0;

  .body {
    padding-top: 100px;
    min-height: calc(100vh - 10px);
  }

  .right {
    float: right;
  }

  .left {
    float: left;
  }

  .color-white {
    color: white !important;
  }
}
